[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rich = "*"
typer = "*"
xxhash = "*"
blake3 = "*"

[dev-packages]
pytest = "*"
ruff = "*"
flit = "*"

[requires]
python_version = "3.11"
